<app-modal>
  <div class="flex flex-col gap-4 w-[380px]">
    <h5 class="text-xl">Login</h5>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <!-- Email input -->
      <div class="mb-6">
        <input
          type="email"
          id="email"
          formControlName="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full"
          placeholder="Email address"
        />
        <div
          *ngIf="ngForm.submitted && loginForm.controls.email.errors?.['required']"
        >
          Email is required.
        </div>
        <div
          *ngIf="ngForm.submitted && loginForm.controls.email.errors?.['email']"
        >
          Email must be a valid email address.
        </div>
      </div>

      <!-- Password input -->
      <div class="mb-6">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-sm focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full"
          placeholder="Password"
        />
        <div
          *ngIf="ngForm.submitted && loginForm.controls.password.errors?.['required']"
        >
          Password is required.
        </div>
      </div>

      <div class="mb-6" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <!-- <div class="flex justify-between items-center mb-6">
            <div class="form-group form-check">
              <input
                type="checkbox"
                class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                id="exampleCheck3"
                checked
              />
              <label
                class="form-check-label inline-block text-gray-800"
                for="exampleCheck2"
                >Remember me</label
              >
            </div>
          </div> -->

      <!-- Submit button -->
      <app-button expand="full">Sign in</app-button>
    </form>
  </div>
</app-modal>
